@()
<script src="@routes.Assets.versioned("javascripts/signUp.js")" type="text/javascript"></script>

<form class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-sm-2" for="fName">First Name:</label>
        <div class="col-sm-10">
            <input type="text" name="Name.fName" class="form-control" id="fName" placeholder="Enter First Name" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="userName">User Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name ="Credentials.userName" id="userName" placeholder="Enter User Name" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name ="Credentials.password" id="pwd" placeholder="Enter Password" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="repwd">Reenter password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name ="Credentials.password" id="repwd" placeholder="ReEnter Password" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="mbNumber">Mobile Number</label>
        <div class="col-sm-10">
            <input type="text" name ="mobileNumber" data-validation="length numeric" maxlength="10" minlength="10" class="form-control" id="mbNumber" placeholder="Enter mobile Number">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary" id="signUp">Sign Up</button>
        </div>
    </div>
</form>
